.Dropdown {
  box-sizing: border-box;
  padding: 37px 30px 30px;
  background-color: white;
  color: #140342;
  display: flex;
  box-shadow: 0px 25px 70px rgba(1, 33, 58, 0.07);
  border-radius: 8px;
  z-index: 10;
  cursor: default;
}

.Dropdown.vertical {
  width: 300px;
  position: relative;
  flex-direction: column;
  padding: 29px 0px 19px 29px;
  background: #ffffff;
  box-shadow: 0px 25px 70px rgba(1, 33, 58, 0.07);
  border-radius: 8px;
  cursor: pointer;
}

.Dropdown__column.vertical {
  box-sizing: border-box;
  padding-right: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.Dropdown__column.vertical:hover .Dropdown__allLinks.vertical {
  display: block;
}

.Dropdown__column.vertical:hover{
  cursor: pointer;
  color: #6440fb;
}

.Dropdown__column {
  width: 100%;
}

.Dropdown__column_svg {
  display: none;
}

.Dropdown__column_svg.vertical {
  display: block;
}

.Dropdown__name {
  margin-bottom: 20px;
  color: inherit;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  cursor: default;
}

.Dropdown__name.vertical {
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 15px;
  line-height: 35px;
  cursor: pointer;
}

.Dropdown__name:not(last-child) {
  margin-right: 60px;
}

.Dropdown__allLinks.vertical {
  color: #140342;
  display: none;
  box-sizing: border-box;
  width: 300px;
  padding: 22px 104px 0px 40px;
  position: absolute;
  top: 0;
  right: -290px;
  background: #ffffff;
  box-shadow: 0px 25px 70px rgba(1, 33, 58, 0.07);
  border-radius: 0px 8px 8px 0px;
}

.Dropdown__link {
  display: block;
  color: inherit;
  font-weight: 400;
  font-size: 15px;
  line-height: 35px;
  cursor: pointer;
  text-decoration:none;
}

.Dropdown__link:hover {
  color: #6440fb;
  text-decoration: underline;
  text-decoration-color: #6440fb;
}
