1.BreadCrumps
 Results 
    Filters 
        filter(title,type(checkbox/radi0),text,qnty+ раскрывающийся спискок/наоборот, выпадушка)
    Courses
        dropdown-buttonSort
        pageR

2 Course
    Cousre Info
        Rate
        Tag
        Author
        Tag
        Update
    CardMets
        social links
    Description
        Tabs
            Overview
            ..Courses(без компонентов).
            Instructor(отдельные компоненты Автор и все)
            Reviews(
                review
                 отд review c типами(звезда.число))
                 review form
                    input(type,placeholder)
                    textarea
            Carusel
    Instructors (47)
        Cards Author
    About Us
        review card
        corusel(type-доп)
    Сontact us
        circle dropdown
    404
****Универсальныe компоненты в storybook




