
.Instructor{
  position: relative;
  width: 100%;
  height:100%;
}

.Instructor__link{
  position:absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.Instructor__img {
  width: 300px;
  height: 330px;
  border-radius: 8px;
  overflow: hidden;
  background-image: url(/instructor_image.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.Instructor__wrap {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #1a064f;
  opacity: 0.6;
  border-radius: 8px;
}

.Instructor:hover .Instructor__wrap {
  display: block;
}

.Instructor__social {
    position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Instructor__icon:not(:last-child) {
  text-decoration: none;
  margin-right: 20px;
}

.Instructor__name {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  text-transform: capitalize;
  color: #140342;
}

.Instructor__position {
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #4f547b;
}

.Instructor__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Instructor__elem{
    display: flex;
    align-items: flex-end;
}

.Instructor__star{
    margin-right: 5px;
}

/* .Instructor__elem:not(:last-child){
    /* margin-right: 15px;
} */ 

.Instructor__svg{
    margin-right: 5px;
}

.Instructor__rate{
  display: flex;
}

.Instructor__like{
  cursor: pointer;
}

.Instructor__like:not(:last-child){
  margin-right: 3px;
}